<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" /> {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{
    ASSET_URL }}"> {% endassets %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <h3 class="text-dark mb-0">
                <a class="text-reset text-decoration-none" href="/">Emprende<span class="text-tertiary">Advisor</span></a
          >
        </h3>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-content"
        >
          <div class="hamburger-toggle">
            <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li
              class="nav-item dropdown dropdown-mega position-static text-center"
            >
              <a
                class="w-75 btn btn-sm mx-4 btn-altprimary text-light dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                >Categorías</a
              >
              <div class="dropdown-menu shadow">
                <div class="mega-content px-4">
                  <div class="container-fluid">
                    <div class="d-flex flex-wrap p-3">
                      <ul class="categoryBx">
                        <li>
                          <a
                            class="text-decoration-none text-altprimary h5"
                            href=""
                            >Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Cargadores</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Baterias</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Inalambricos</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Cargadores</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Baterias</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Inalambricos</a>
                </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
        </div>
        </div>
        </div>
        </div>
        </li>
        </ul>
        <form class="d-flex ms-auto mt-3 mt-lg-0" id="searchForm">
            <div class="input-group">
                <input class="form-control border-0 mr-2" type="search" placeholder="@usuario_instagram" name="search" aria-label="Search" />
                <button class="btn btn-sm btn-primary border-0 text-light" type="submit">
                Buscar
              </button>
            </div>
        </form>
        <ul class="navbar-nav my-2 my-lg-0 ms-auto">
            {% if userSession != "" %}
            <li class="nav-item mx-3 align-items-center d-flex flex-column flex-lg-row align-items-center">
                <div class="dropdown d-flex flex-column align-items-center my-2 my-lg-0">
                    <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mi cuenta
            </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

                        <a class="dropdown-item" href="/cuenta">Configurar</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Cerrar Sesión</a
              >
            </div>
          </div>
            </li>
            {% else %}
            <li
              class="nav-item mx-3 align-items-center d-flex flex-column flex-lg-row align-items-center"
            >
              <a
                class="btn btn-sm btn-altdark text-light"
                data-bs-toggle="modal"
                data-bs-target="#login"
                >Ingrese</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <section class="container-fluid">
      <div class="container">
        <div class="row mt-4">
          <div class="profileMenu col-lg-4 d-flex flex-column align-items-center">
            <div class="bg-graytheme w-100 d-flex flex-column align-items-center p-3">
              <h4 class="mb-3 helloBx">¡Hola {{userSession["first_name"]}} {{userSession["last_name"]}}!</h4>
            <img class="imgProfile" src={{userSession["image"]}} alt="">
            </div>            
            <h6 class="bg-graytheme p-3 my-3 w-100 menuProfileOpt"><i class="bi bi-person h2 starIcon"></i><span class="mx-3">Mi Perfil</span></h6>
            <h6 class="bg-graytheme p-3 mb-3 w-100 menuProfileOpt"><i class="bi bi-shield-lock h2 starIcon"></i><span class="mx-3">Mi Contraseña</span></h5>
            <h6 class="bg-graytheme p-3 mb-3 w-100 menuProfileOpt"><i class="bi bi-heart h2 starIcon"></i><span class="mx-3">Mis Favoritos</span></h5>
            <h6 class="bg-graytheme p-3 mb-3 w-100 menuProfileOpt"><i class="bi bi-box-arrow-right h2 starIcon"></i><span class="mx-3">Cerrar Sesión</span></h5>
          </div>
          <div class="profileInfo d-none col-lg-8 p-3">
            <button class="btn btn-primary text-light d-block d-lg-none my-3" onclick="backMenu()"><i class="bi bi-arrow-left starIcon"></i> Volver</button>
            <div
                class="errorLogin bg-warning text-light rounded-3 text-center"
              ></div>
              <div
                class="success bg-success text-light rounded-3 text-center"
              ></div>
            <div class="profileForm row justify-content-center">

            </div>
        </div>
      </div>
    </section>

    <section class="footer">
      <div class="row container">
        <div class="col-sm-4 text-light text-center">
          <h4 class="my-4">Emprende<span class="text-tertiary">Advisor</span></h4>
          <h5 class="mb-4">Libro de reclamaciones</h5>
          <img
            class="img-fluid"
            style="filter: invert(1)"
            src="{{ url_for('static', filename='images/facebook.svg') }}"
          />
          <img
            class="img-fluid"
            style="filter: invert(1)"
            src="{{ url_for('static', filename='images/instagram.svg') }}"
          />
          <img
            class="img-fluid"
            style="filter: invert(1)"
            src="{{ url_for('static', filename='images/tiktok.svg') }}"
          />
        </div>
        <div class="col-sm-4 text-light text-center">
          <h5 class="text-tertiary my-4">Conocenos</h5>
          <h5>Acerca de nosotros</h5>
          <h5>Preguntas frecuentes</h5>
          <h5>
            <a class="text-reset text-decoration-none" href="/politica"
              >Pólitica de privacidad</a
            >
          </h5>
        </div>
        <div class="col-sm-4 text-light text-center">
          <h5 class="text-tertiary my-4">Categorías</h5>
          <h5>Postres</h5>
          <h5>Joyería</h5>
          <h5>Ropa mujer</h5>
          <h5>Más categorías</h5>
        </div>
      </div>
    </section>

    <!-- Modal -->
    <div
      class="modal fade"
      id="register"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form
            action="/register/user"
            method="post"
            id="registerForm"
            novalidate
          >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registrar</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div
                class="errorRegister bg-warning text-light rounded-3 mb-3 px-3"
              ></div>
              <label for="first_name" class="form-label">Nombre:</label>
              <input
                type="text"
                name="first_name"
                class="form-control"
                id="first_name"
              />
              <label for="last_name" class="form-label">Apellidos:</label>
              <input
                type="text"
                name="last_name"
                class="form-control"
                id="last_name"
              />
              <label for="email" class="form-label">Correo:</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
              />
              <label for="password" class="form-label">Contraseña:</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
              />
              <label for="repeat_password" class="form-label"
                >Repita contraseña:</label
              >
              <input
                type="password"
                name="repeat_password"
                class="form-control"
                id="repeat_password"
              />
            </div>
            <div class="modal-footer d-flex flex-column">
              <div class="form-check align-self-baseline mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="terminosCheckBx"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Acepto los
                  <span class="text-altdark terminos"
                    >Terminos y Condiciones</span
                  >
                </label>
              </div>
              <button type="submit" class="btn btn-altdark text-light">
                Registrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="login"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="/login" method="post" novalidate id="loginForm">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div
                class="errorLogin bg-warning text-light rounded-3 text-center"
              ></div>
              <label for="email" class="form-label">Correo</label>
              <input type="email" name="email" class="form-control" />
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" name="password" class="form-control" />
            </div>
            <div class="modal-footer d-flex flex-column justify-content-center">
              <button type="submit" class="btn btn-altdark text-light">
                Ingresar
              </button>
              <p class="mt-3">
                ¿No tiene una cuenta?
                <a href="#" data-bs-toggle="modal" data-bs-target="#register"
                  >Registrese</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/cuenta.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/emprendimiento.js') }}"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>