<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" /> {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{
    ASSET_URL }}"> {% endassets %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <h3 class="text-dark mb-0">
                <a class="text-reset text-decoration-none" href="/">Emprende<span class="text-tertiary">Land</span></a>
            </h3>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
        <div class="hamburger-toggle">
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
            </button>
            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item dropdown dropdown-mega position-static text-center">
                        <a class="w-75 btn btn-sm mx-4 btn-altprimary text-light dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">Categorías</a>
                        <div class="dropdown-menu shadow">
                            <div class="mega-content px-4">
                                <div class="container-fluid">
                                    <div class="d-flex flex-wrap p-3">
                                        <ul class="categoryBx">
                                            <li>
                                                <a class="text-decoration-none text-altprimary h5" href="">Celulares</a>
                                            </li>
                                            <ul class="mt-3">
                                                <li>
                                                    <a class="text-reset" href="#">Carcasas</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Cargadores</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Baterias</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Inalambricos</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Cargadores</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Baterias</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Inalambricos</a>
                                                </li>
                                            </ul>
                                        </ul>
                                        <ul class="categoryBx">
                                            <li>
                                                <a class="text-decoration-none text-altprimary h5" href="">Celulares</a>
                                            </li>
                                            <ul class="mt-3">
                                                <li>
                                                    <a class="text-reset" href="#">Carcasas</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Cargadores</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Baterias</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Inalambricos</a>
                                                </li>
                                            </ul>
                                        </ul>
                                        <ul class="categoryBx">
                                            <li>
                                                <a class="text-decoration-none text-altprimary h5" href="">Celulares</a>
                                            </li>
                                            <ul class="mt-3">
                                                <li>
                                                    <a class="text-reset" href="#">Carcasas</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Cargadores</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Baterias</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Inalambricos</a>
                                                </li>
                                            </ul>
                                        </ul>
                                        <ul class="categoryBx">
                                            <li>
                                                <a class="text-decoration-none text-altprimary h5" href="">Celulares</a>
                                            </li>
                                            <ul class="mt-3">
                                                <li>
                                                    <a class="text-reset" href="#">Carcasas</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Cargadores</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Baterias</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Inalambricos</a>
                                                </li>
                                            </ul>
                                        </ul>
                                        <ul class="categoryBx">
                                            <li>
                                                <a class="text-decoration-none text-altprimary h5" href="">Celulares</a>
                                            </li>
                                            <ul class="mt-3">
                                                <li>
                                                    <a class="text-reset" href="#">Carcasas</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Cargadores</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Baterias</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Inalambricos</a>
                                                </li>
                                            </ul>
                                        </ul>
                                        <ul class="categoryBx">
                                            <li>
                                                <a class="text-decoration-none text-altprimary h5" href="">Celulares</a>
                                            </li>
                                            <ul class="mt-3">
                                                <li>
                                                    <a class="text-reset" href="#">Carcasas</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Cargadores</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Baterias</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Inalambricos</a>
                                                </li>
                                            </ul>
                                        </ul>
                                        <ul class="categoryBx">
                                            <li>
                                                <a class="text-decoration-none text-altprimary h5" href="">Celulares</a>
                                            </li>
                                            <ul class="mt-3">
                                                <li>
                                                    <a class="text-reset" href="#">Carcasas</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Cargadores</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Baterias</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Inalambricos</a>
                                                </li>
                                            </ul>
                                        </ul>
                                        <ul class="categoryBx">
                                            <li>
                                                <a class="text-decoration-none text-altprimary h5" href="">Celulares</a>
                                            </li>
                                            <ul class="mt-3">
                                                <li>
                                                    <a class="text-reset" href="#">Carcasas</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Cargadores</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Baterias</a>
                                                </li>
                                                <li>
                                                    <a class="text-reset" href="#">Inalambricos</a>
                                                </li>
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <form class="d-flex ms-auto mt-3 mt-lg-0">
                    <div class="input-group">
                        <input class="form-control border-0 mr-2" type="search" placeholder="Buscar" aria-label="Search" />
                        <button class="btn btn-sm btn-primary border-0 text-light" type="submit">
                      Buscar
                    </button>
                    </div>
                </form>
                <ul class="navbar-nav my-2 my-lg-0 ms-auto">
                    {% if userSession != "" %}
                    <li class="nav-item mx-3 align-items-center d-flex flex-column flex-lg-row align-items-center">
                        <div class="my-1 d-flex align-items-center">
                            <h6 class="text-dark welcomeMsg my-0 mx-3">
                                Bienvenido Renato
                            </h6>
                        </div>
                        <a class="btn btn-sm btn-secondary text-light" href="/logout">Salir</a
                    >
                    </li>
                    {% else %}
                    <li class="nav-item mx-3 align-items-center d-flex flex-column flex-lg-row align-items-center">
                        <a class="btn btn-sm btn-altdark text-light" data-bs-toggle="modal" data-bs-target="#login">Ingrese</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
    <section class="container-fluid catologoBx">
        <div class="container">
            <div class="row my-3">
                <div class="col-12"><span>Celulares</span><span class="mx-3">></span><span>Cargadores</span></div>
            </div>
            <div class="row my-3 justify-content-between border-bottom border-dark pb-0 pb-lg-3 align-items-center">
                <div class="col-12 col-lg-6">273 Resultados en Cargadores</div>
                <a class="btn btn-altprimary col-6 d-lg-none text-light my-3" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    Filtros
                  </a>
                <div class="col-6 col-lg-3 ms-auto"><select class="form-select shadow-none ms-auto" aria-label="Default select example">
                    <option value="menor">Más comentados</option>
                    <option value="mayor">Más followers</option>
                    <option value="recomendados" selected>Recomendados</option>
                  </select></div>
            </div>
            <div class="row">
                <div class="d-none d-lg-block col-lg-3">
                    <div class="bg-graytheme p-4 my-3"><span class="h4 border-start border-5 border-altprimary px-2">CARGADORES</span></div>
                    <div class="bg-graytheme p-4 my-3 filterBx">
                        <div class="applyFilters">
                            <a class="btn btn-primary text-light w-100" href="#">Aplicar filtros</a>
                        </div>
                        <div class="d-flex my-4">
                            <i class="bi bi-sliders"></i>
                            <div class="h6 mb-0 pt-1 mx-2"> Filtro Rating</div>
                        </div>
                        <div class="wrapper-slider">
                            <div class="values-slider">
                                <span id="range1">
                                    0
                                </span>
                                <span> &dash; </span>
                                <span id="range2">
                                    5 
                                </span>
                                <span class="mx-1"><i class="bi bi-star-fill starIcon"></i></span>

                            </div>
                            <div class="container-slider">
                                <div class="slider-track"></div>
                                <input type="range" min="0" max="500" value="0" id="slider-1" oninput="slideOne()">
                                <input type="range" min="0" max="500" value="500" id="slider-2" oninput="slideTwo()">
                            </div>
                        </div>
                        <div class="d-flex my-4">
                            <i class="bi bi-sliders"></i>
                            <div class="h6 mb-0 pt-1 mx-2"> Filtro Reviews</div>
                        </div>
                        <div class="wrapper-slider">
                            <div class="values-slider">
                                <span id="range3">
                                    0
                                </span>
                                <span> &dash; </span>
                                <span id="range4">
                                    5 
                                </span>
                                <span class="mx-1"><i class="bi bi-chat-left-quote-fill starIcon"></i></span>

                            </div>
                            <div class="container-slider">
                                <div class="slider-track"></div>
                                <input type="range" min="0" max="500" value="0" id="slider-3" oninput="slide3()">
                                <input type="range" min="0" max="500" value="200" id="slider-4" oninput="slide4()">
                            </div>
                        </div>

                        <div class="d-flex my-4">
                            <i class="bi bi-sliders"></i>
                            <div class="h6 mb-0 pt-1 mx-2"> Filtro Followers</div>
                        </div>
                        <div class="wrapper-slider">
                            <div class="values-slider">
                                <span id="range5">
                                    0
                                </span>
                                <span> &dash; </span>
                                <span id="range6">
                                    5 
                                </span>
                                <span class="mx-1"><i class="bi bi-people-fill starIcon"></i></span>

                            </div>
                            <div class="container-slider">
                                <div class="slider-track"></div>
                                <input type="range" min="0" max="20000" value="0" id="slider-5" oninput="slide5()">
                                <input type="range" min="0" max="20000" value="5700" id="slider-6" oninput="slide6()">
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-12 col-lg-9">
                    <div class="row justify-content-evenly">
                        <div class="col-6 col-lg-3 my-2">
                            <div class="bg-graytheme p-2">
                                <img class="img-fluid" src="{{ url_for('static', filename='images/product.jpg') }}" alt="">
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <span class="h6">Rumbero</span>
                                    <span class="h6"><i class="bi bi-heart starIcon"></i></span>
                                </div>
                                <p class="my-0 textCardEmpre">¡Para todos los rumberos que lleven la salsa en la piel! Ropa salsera del Perú Hecho en algodón peruano Envíos gratis a todo el Perú </p>
                                <div class="my-1 text-yellowstar">
                                    <i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i>
                                </div>
                                <div class="mt-3 textCardEmpre">
                                    (45 calificaciones)
                                </div>
                            </div>

                        </div>
                        <div class="col-6 col-lg-3 my-2">
                            <div class="bg-graytheme p-2">
                                <img class="img-fluid" src="{{ url_for('static', filename='images/product.jpg') }}" alt="">
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <span class="h6">Rumbero</span>
                                    <span class="h6"><i class="bi bi-heart starIcon"></i></span>
                                </div>
                                <p class="my-0 textCardEmpre">¡Para todos los rumberos que lleven la salsa en la piel! Ropa salsera del Perú Hecho en algodón peruano Envíos gratis a todo el Perú </p>
                                <div class="my-1 text-yellowstar">
                                    <i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i>
                                </div>
                                <div class="mt-3 textCardEmpre">
                                    (45 calificaciones)
                                </div>
                            </div>

                        </div>
                        <div class="col-6 col-lg-3 my-2">
                            <div class="bg-graytheme p-2">
                                <img class="img-fluid" src="{{ url_for('static', filename='images/product.jpg') }}" alt="">
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <span class="h6">Rumbero</span>
                                    <span class="h6"><i class="bi bi-heart starIcon"></i></span>
                                </div>
                                <p class="my-0 textCardEmpre">¡Para todos los rumberos que lleven la salsa en la piel! Ropa salsera del Perú Hecho en algodón peruano Envíos gratis a todo el Perú </p>
                                <div class="my-1 text-yellowstar">
                                    <i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i>
                                </div>
                                <div class="mt-3 textCardEmpre">
                                    (45 calificaciones)
                                </div>
                            </div>

                        </div>
                        <div class="col-6 col-lg-3 my-2">
                            <div class="bg-graytheme p-2">
                                <img class="img-fluid" src="{{ url_for('static', filename='images/product.jpg') }}" alt="">
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <span class="h6">Rumbero</span>
                                    <span class="h6"><i class="bi bi-heart starIcon"></i></span>
                                </div>
                                <p class="my-0 textCardEmpre">¡Para todos los rumberos que lleven la salsa en la piel! Ropa salsera del Perú Hecho en algodón peruano Envíos gratis a todo el Perú </p>
                                <div class="my-1 text-yellowstar">
                                    <i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i>
                                </div>
                                <div class="mt-3 textCardEmpre">
                                    (45 calificaciones)
                                </div>
                            </div>

                        </div>


                        <div class="col-6 col-lg-3 my-2">
                            <div class="bg-graytheme p-2">
                                <img class="img-fluid" src="{{ url_for('static', filename='images/product.jpg') }}" alt="">
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <span class="h6">Rumbero</span>
                                    <span class="h6"><i class="bi bi-heart starIcon"></i></span>
                                </div>
                                <p class="my-0 textCardEmpre">¡Para todos los rumberos que lleven la salsa en la piel! Ropa salsera del Perú Hecho en algodón peruano Envíos gratis a todo el Perú </p>
                                <div class="my-1 text-yellowstar">
                                    <i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i>
                                </div>
                                <div class="mt-3 textCardEmpre">
                                    (45 calificaciones)
                                </div>
                            </div>

                        </div>
                        <div class="col-6 col-lg-3 my-2">
                            <div class="bg-graytheme p-2">
                                <img class="img-fluid" src="{{ url_for('static', filename='images/product.jpg') }}" alt="">
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <span class="h6">Rumbero</span>
                                    <span class="h6"><i class="bi bi-heart starIcon"></i></span>
                                </div>
                                <p class="my-0 textCardEmpre">¡Para todos los rumberos que lleven la salsa en la piel! Ropa salsera del Perú Hecho en algodón peruano Envíos gratis a todo el Perú </p>
                                <div class="my-1 text-yellowstar">
                                    <i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i>
                                </div>
                                <div class="mt-3 textCardEmpre">
                                    (45 calificaciones)
                                </div>
                            </div>

                        </div>
                        <div class="col-6 col-lg-3 my-2">
                            <div class="bg-graytheme p-2">
                                <img class="img-fluid" src="{{ url_for('static', filename='images/product.jpg') }}" alt="">
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <span class="h6">Rumbero</span>
                                    <span class="h6"><i class="bi bi-heart starIcon"></i></span>
                                </div>
                                <p class="my-0 textCardEmpre">¡Para todos los rumberos que lleven la salsa en la piel! Ropa salsera del Perú Hecho en algodón peruano Envíos gratis a todo el Perú </p>
                                <div class="my-1 text-yellowstar">
                                    <i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i>
                                </div>
                                <div class="mt-3 textCardEmpre">
                                    (45 calificaciones)
                                </div>
                            </div>

                        </div>
                        <div class="col-6 col-lg-3 my-2">
                            <div class="bg-graytheme p-2">
                                <img class="img-fluid" src="{{ url_for('static', filename='images/product.jpg') }}" alt="">
                                <div class="mt-3 d-flex justify-content-between align-items-center">
                                    <span class="h6">Rumbero</span>
                                    <span class="h6"><i class="bi bi-heart starIcon"></i></span>
                                </div>
                                <p class="my-0 textCardEmpre">¡Para todos los rumberos que lleven la salsa en la piel! Ropa salsera del Perú Hecho en algodón peruano Envíos gratis a todo el Perú </p>
                                <div class="my-1 text-yellowstar">
                                    <i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i><i class="bi bi-star-fill mx-1"></i>
                                </div>
                                <div class="mt-3 textCardEmpre">
                                    (45 calificaciones)
                                </div>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filtros</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="col-12">
                    <div class="bg-graytheme p-4 my-3"><span class="h4 border-start border-5 border-altprimary px-2">CARGADORES</span></div>
                    <div class="bg-graytheme p-4 my-3 filterBx">
                        <div class="applyFilters">
                            <a class="btn btn-primary text-light w-100" href="#">Aplicar filtros</a>
                        </div>
                        <div class="d-flex my-4">
                            <i class="bi bi-sliders"></i>
                            <div class="h6 mb-0 pt-1 mx-2"> Filtro Rating</div>
                        </div>
                        <div class="wrapper-slider">
                            <div class="values-slider">
                                <span id="range7">
                                    0
                                </span>
                                <span> &dash; </span>
                                <span id="range8">
                                    5 
                                </span>
                                <span class="mx-1"><i class="bi bi-star-fill starIcon"></i></span>

                            </div>
                            <div class="container-slider">
                                <div class="slider-track"></div>
                                <input type="range" min="0" max="500" value="0" id="slider-7" oninput="slide7()">
                                <input type="range" min="0" max="500" value="500" id="slider-8" oninput="slide8()">
                            </div>
                        </div>
                        <div class="d-flex my-4">
                            <i class="bi bi-sliders"></i>
                            <div class="h6 mb-0 pt-1 mx-2"> Filtro Reviews</div>
                        </div>
                        <div class="wrapper-slider">
                            <div class="values-slider">
                                <span id="range9">
                                    0
                                </span>
                                <span> &dash; </span>
                                <span id="range10">
                                    5 
                                </span>
                                <span class="mx-1"><i class="bi bi-chat-left-quote-fill starIcon"></i></span>

                            </div>
                            <div class="container-slider">
                                <div class="slider-track"></div>
                                <input type="range" min="0" max="500" value="0" id="slider-9" oninput="slide9()">
                                <input type="range" min="0" max="500" value="200" id="slider-10" oninput="slide10()">
                            </div>
                        </div>

                        <div class="d-flex my-4">
                            <i class="bi bi-sliders"></i>
                            <div class="h6 mb-0 pt-1 mx-2"> Filtro Followers</div>
                        </div>
                        <div class="wrapper-slider">
                            <div class="values-slider">
                                <span id="range11">
                                    0
                                </span>
                                <span> &dash; </span>
                                <span id="range12">
                                    5 
                                </span>
                                <span class="mx-1"><i class="bi bi-people-fill starIcon"></i></span>

                            </div>
                            <div class="container-slider">
                                <div class="slider-track"></div>
                                <input type="range" min="0" max="20000" value="0" id="slider-11" oninput="slide11()">
                                <input type="range" min="0" max="20000" value="5700" id="slider-12" oninput="slide12()">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>



    <section class="footer">
        <div class="row container">
            <div class="col-sm-4 text-light text-center">
                <h4 class="my-4">Emprende<span class="text-tertiary">Land</span></h4>
                <h5 class="mb-4">Libro de reclamaciones</h5>
                <img class="img-fluid" style="filter: invert(1)" src="{{ url_for('static', filename='images/facebook.svg') }}" />
                <img class="img-fluid" style="filter: invert(1)" src="{{ url_for('static', filename='images/instagram.svg') }}" />
                <img class="img-fluid" style="filter: invert(1)" src="{{ url_for('static', filename='images/tiktok.svg') }}" />
            </div>
            <div class="col-sm-4 text-light text-center">
                <h5 class="text-tertiary my-4">Conocenos</h5>
                <h5>Acerca de nosotros</h5>
                <h5>Preguntas frecuentes</h5>
                <h5>Pólitica de privacidad</h5>
            </div>
            <div class="col-sm-4 text-light text-center">
                <h5 class="text-tertiary my-4">Categorías</h5>
                <h5>Postres</h5>
                <h5>Joyería</h5>
                <h5>Ropa mujer</h5>
                <h5>Más categorías</h5>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="/register/user" method="post" id="registerForm" novalidate>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Registrar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="errorRegister bg-warning text-light rounded-3 mb-3 px-3"></div>
                        <label for="first_name" class="form-label">Nombre:</label>
                        <input type="text" name="first_name" class="form-control" id="first_name" />
                        <label for="last_name" class="form-label">Apellidos:</label>
                        <input type="text" name="last_name" class="form-control" id="last_name" />
                        <label for="email" class="form-label">Correo:</label>
                        <input type="email" name="email" class="form-control" id="email" />
                        <label for="password" class="form-label">Contraseña:</label>
                        <input type="password" name="password" class="form-control" id="password" />
                        <label for="repeat_password" class="form-label">Repita contraseña:</label
              >
              <input
                type="password"
                name="repeat_password"
                class="form-control"
                id="repeat_password"
              />
            </div>
            <div class="modal-footer d-flex flex-column">
              <div class="form-check align-self-baseline mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="terminosCheckBx"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Acepto los
                  <span class="text-altdark terminos"
                    >Terminos y Condiciones</span
                  >
                </label>
                    </div>
                    <button type="submit" class="btn btn-altdark text-light">
                Registrar
              </button>
            </div>
            </form>
        </div>
    </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form action="/login" method="post" novalidate id="loginForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="errorLogin bg-warning text-light rounded-3 text-center"></div>
                        <label for="email" class="form-label">Correo</label>
                        <input type="email" name="email" class="form-control" />
                        <label for="password" class="form-label">Contraseña:</label>
                        <input type="password" name="password" class="form-control" />
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-altdark text-light">
                Ingresar
              </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>