<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EmprendeAdvisor</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}" />

    <meta property="og:title" content="EmprendeAdvisor" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.emprendeadvisor.com" />
    <meta property="og:description" content="¡Encuentra el emprendimiento que estabas buscando!" />
    <meta property="og:image" content="https://emprendeadvisor.s3.amazonaws.com/5246c329-2c70-4185-b4aa-2433ee9d7e59.png" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:width" content="1200" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" /> {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{
    ASSET_URL }}"> {% endassets %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <h3 class="text-dark mb-0">
                <a class="text-reset text-decoration-none" href="/dashboard">Emprende<span class="text-tertiary">Advisor</span></a
          >
        </h3>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-content"
        >
          <div class="hamburger-toggle">
            <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li
              class="nav-item dropdown dropdown-mega position-static text-center"
            >
              <a
                class="w-75 btn btn-sm mx-4 btn-altprimary text-light dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                >Categorías</a
              >
              <div class="dropdown-menu shadow">
                <div class="mega-content px-4">
                  <div class="container-fluid">
                    <div class="d-flex flex-wrap p-3">
                      {% if categoriesList != False %} {% for category in
                      categoriesList %}
                      <ul class="categoryBx">
                        <li>
                          <a
                            class="text-decoration-none text-altprimary h5"
                            href="/emprendimientos/category/{{category.id}}"
                            >{{category.name}}</a
                          >
                        </li>
                        <ul class="mt-3">
                          {% for subcategory in category.subcategories %}
                          <li>
                            <a
                              class="text-reset"
                              href="/emprendimientos/subcategory/{{subcategory.id}}"
                              >{{subcategory.name}}</a
                            >
                          </li>
                          {% endfor %}
                        </ul>
                      </ul>
                      {% endfor %} {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <form class="d-flex ms-auto mt-3 mt-lg-0" id="searchForm">
            <div class="input-group">
              <input
                class="form-control border-0 mr-2"
                type="search"
                placeholder="@usuario_instagram"
                name="search"
                aria-label="Search"
              />
              <button
                class="btn btn-sm btn-primary border-0 text-light"
                type="submit"
              >
                Buscar
              </button>
            </div>
          </form>
          <ul class="navbar-nav my-2 my-lg-0 ms-auto">
            {% if userSession != "" %}
            <li
              class="nav-item mx-3 align-items-center d-flex flex-column flex-lg-row align-items-center"
            >
              <div
                class="dropdown d-flex flex-column align-items-center my-2 my-lg-0"
              >
                <a
                  class="btn btn-sm btn-secondary dropdown-toggle"
                  href="#"
                  role="button"
                  id="dropdownMenuLink"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Mi cuenta
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    {% if session["level"] != 9 %}
                    <a class="dropdown-item" href="/cuenta">Configurar</a> {% else %} <a class="dropdown-item" href="/admin">Admin</a> {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
                </div>
        </div>
        </li>
        {% else %}
        <li class="nav-item mx-3 align-items-center d-flex flex-column flex-lg-row align-items-center">
            <a class="btn btn-sm btn-altdark text-light" data-bs-toggle="modal" data-bs-target="#login">Ingrese</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <section class="container-fluid catologoBx">
      <div class="container">
        {% if tipo != "general" %}
        <div class="row my-3">
          <div class="col-12">
            {% if tipo == "categoria" %}
            <span>{{categoria}}</span>

            {% elif tipo == "subcategoria" %}
            <span>{{subcategoria}}</span><span class="mx-3">></span
            ><span>{{categoria}}</span>

            {% endif %}
          </div>
        </div>
        {% endif %}
        <div
          class="row my-3 justify-content-between border-bottom border-dark pb-0 pb-lg-3 align-items-center"
        >
          {% if tipo == "general" %}
          <div class="col-12 col-lg-6">
            {{totalCuenta}} Resultados en General
          </div>
          {% else %} {% if tipo == "categoria" %}{{totalCuenta}} Resultados en
          {{categoria}} {% elif tipo == "subcategoria" %} {{totalCuenta}}
          Resultados en {{subcategoria}} {% endif %} {% endif %}

          <a
            class="btn btn-altprimary col-6 d-lg-none text-light my-3"
            data-bs-toggle="offcanvas"
            href="#offcanvasExample"
            role="button"
            aria-controls="offcanvasExample"
          >
            Filtros
          </a>
            <div class="col-6 col-lg-3 ms-auto">
                <select class="form-select shadow-none ms-auto" aria-label="Default select example" id="empOrderSelector">
              <option value="cuenta">Más comentados</option>
              <option value="follower_count">Más followers</option>
              <option value="promedio" selected>Recomendados</option>
            </select>
            </div>
            </div>
            <div class="row">
                <div class="d-none d-lg-block col-lg-3">
                    <div class="bg-graytheme p-4 my-3">
                        <span class="h4 border-start border-5 border-altprimary px-2">
                {% if tipo == "general" %} GENERAL {% elif tipo == "categoria"
                %} {{categoria}} {% elif tipo == "subcategoria" %}
                {{subcategoria}} {% endif %}
              </span>
                    </div>
                    <div class="bg-graytheme p-4 my-3 filterBx">
                        <div class="applyFilters">
                            <a class="btn btn-primary text-light w-100" href="#" id="filter1">Aplicar filtros</a
                >
              </div>
              <div class="d-flex my-4">
                <i class="bi bi-sliders"></i>
                <div class="h6 mb-0 pt-1 mx-2">Filtro Rating</div>
              </div>
              <div class="wrapper-slider">
                <div class="values-slider">
                  <span id="range1"> 0 </span>
                  <span> &dash; </span>
                  <span id="range2"> 5 </span>
                  <span class="mx-1"
                    ><i class="bi bi-star-fill starIcon"></i
                  ></span>
                </div>
                <div class="container-slider">
                  <div class="slider-track"></div>
                  <input
                    type="range"
                    min="0"
                    max="{{dataMaxMin.max_promedio*100}}"
                    value="{{dataMaxMin.min_promedio*100}}"
                    id="slider-1"
                    oninput="slideOne()"
                  />
                  <input
                    type="range"
                    min="0"
                    max="{{dataMaxMin.max_promedio*100}}"
                    value="{{dataMaxMin.max_promedio*100}}"
                    id="slider-2"
                    oninput="slideTwo()"
                  />
                </div>
              </div>
              <div class="d-flex my-4">
                <i class="bi bi-sliders"></i>
                <div class="h6 mb-0 pt-1 mx-2">Filtro Reviews</div>
              </div>
              <div class="wrapper-slider">
                <div class="values-slider">
                  <span id="range3"> 0 </span>
                  <span> &dash; </span>
                  <span id="range4"> 5 </span>
                  <span class="mx-1"
                    ><i class="bi bi-chat-left-quote-fill starIcon"></i
                  ></span>
                </div>
                <div class="container-slider">
                  <div class="slider-track"></div>
                  <input
                    type="range"
                    min="0"
                    max="{{dataMaxMin.max_reviews}}"
                    value="{{dataMaxMin.min_reviews}}"
                    id="slider-3"
                    oninput="slide3()"
                  />
                  <input
                    type="range"
                    min="0"
                    max="{{dataMaxMin.max_reviews}}"
                    value="{{dataMaxMin.max_reviews}}"
                    id="slider-4"
                    oninput="slide4()"
                  />
                </div>
              </div>

              <div class="d-flex my-4">
                <i class="bi bi-sliders"></i>
                <div class="h6 mb-0 pt-1 mx-2">Filtro Followers</div>
              </div>
              <div class="wrapper-slider">
                <div class="values-slider">
                  <span id="range5"> 0 </span>
                  <span> &dash; </span>
                  <span id="range6"> 5 </span>
                  <span class="mx-1"
                    ><i class="bi bi-people-fill starIcon"></i
                  ></span>
                </div>
                <div class="container-slider">
                  <div class="slider-track"></div>
                  <input
                    type="range"
                    min="0"
                    max="{{dataMaxMin.max_followers}}"
                    value="{{dataMaxMin.min_followers}}"
                    id="slider-5"
                    oninput="slide5()"
                  />
                  <input
                    type="range"
                    min="0"
                    max="{{dataMaxMin.max_followers}}"
                    value="{{dataMaxMin.max_followers}}"
                    id="slider-6"
                    oninput="slide6()"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-9">
            <div class="row justify-content-evenly" id="emprendimientosBx">
              {% if emprendimientoList != False %} {% for emprendimiento in
              emprendimientoList %}
              <div class="col-6 col-lg-3 my-2 empreBox">
                <div class="bg-graytheme p-2">
                  <a
                    href="/emprendimiento/{{emprendimiento.id}}"
                    style="cursor: pointer"
                  >
                    <img
                      class="img-fluid"
                      src="https://www.emprendeadvisor.com/img/{{emprendimiento.url_p1}}&{{emprendimiento.url_p2}}"
                      alt=""
                    />
                  </a>

                            <div class="mt-3 d-flex justify-content-between align-items-center">
                                <span class="h6" style="line-height: 1.5em; height: 3em; overflow: hidden">{{emprendimiento.full_name}}</span
                    >
                  </div>
                  <p class="my-0 textCardEmpre">{{emprendimiento.biography}}</p>
                  <div class="my-1 text-yellowstar">
                    {% set stars = emprendimiento.promedio|round|int %} {% set
                    remain = 5 - stars %} {% for n in range(stars) %}
                    <i class="bi bi-star-fill mx-1"></i> {% endfor %} {% for n
                    in range(remain) %} <i class="bi bi-star mx-1"></i> {%
                    endfor %}
                  </div>
                  <div class="mt-3 textCardEmpre">
                    {% if emprendimiento.cuenta == 0 %} Sin calificar {% elif
                    emprendimiento.cuenta == 1 %} (1 calificación) {% else %}
                    ({{emprendimiento.cuenta}} calificaciones) {% endif %}
                  </div>
                </div>
              </div>
              {% endfor %} {% endif %}
            </div>
            <div class="col-12 text-center mt-4">
              <form action="" id="loadMoreEmp">
                <input
                  type="hidden"
                  name="order_by"
                  value="promedio"
                  id="order_by"
                />
                <input
                  type="hidden"
                  name="min_promedio"
                  value="{{dataMaxMin.min_promedio}}"
                  id="min_promedio"
                />
                <input
                  type="hidden"
                  name="max_promedio"
                  value="{{dataMaxMin.max_promedio}}"
                  id="max_promedio"
                />
                <input type="hidden" name="min_reviews"
                value="{{dataMaxMin.min_reviews}}"
                id="min_rhttps://www.emprendeadvisor.com />
                <input
                  type="hidden"
                  name="max_reviews"
                  value="{{dataMaxMin.max_reviews}}"
                  id="max_reviews"
                />
                <input
                  type="hidden"
                  name="min_followers"
                  value="{{dataMaxMin.min_followers}}"
                  id="min_followers"
                />
                <input
                  type="hidden"
                  name="max_followers"
                  value="{{dataMaxMin.max_followers}}"
                  id="max_followers"
                />
                <button
                  type="submit"
                  class="btn btn-altdark text-light btnLoadMoreEmp"
                >
                  Cargar más emprendimientos
                </button>
              </form>
              <input type="hidden" id="pathCategory" value="{{pathCategory}}" />
            </div>
          </div>
        </div>
      </div>

      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filtros</h5>
          <button
            type="button"
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            id="closeOffCanvas"
          ></button>
        </div>
        <div class="offcanvas-body">
          <div class="col-12">
            <div class="bg-graytheme p-4 my-3">
              <span class="h4 border-start border-5 border-altprimary px-2"
                >{% if tipo == "general" %} GENERAL {% elif tipo == "categoria"
                %} {{categoria}} {% elif tipo == "subcategoria" %}
                {{subcategoria}} {% endif %}</span
              >
            </div>
            <div class="bg-graytheme p-4 my-3 filterBx">
              <div class="applyFilters">
                <a
                  class="btn btn-primary text-light w-100"
                  href="#"
                  id="filter2"
                  >Aplicar filtros</a
                >
              </div>
              <div class="d-flex my-4">
                <i class="bi bi-sliders"></i>
                <div class="h6 mb-0 pt-1 mx-2">Filtro Rating</div>
              </div>
              <div class="wrapper-slider">
                <div class="values-slider">
                  <span id="range7"> 0 </span>
                                <span> &dash; </span>
                                <span id="range8"> 5 </span>
                                <span class="mx-1"><i class="bi bi-star-fill starIcon"></i
                  ></span>
                            </div>
                            <div class="container-slider">
                                <div class="slider-track"></div>
                                <input type="range" min="0" max="{{dataMaxMin.max_promedio*100}}" value="{{dataMaxMin.min_promedio*100}}" id="slider-7" oninput="slide7()" />
                                <input type="range" min="0" max="{{dataMaxMin.max_promedio*100}}" value="{{dataMaxMin.max_promedio*100}}" id="slider-8" oninput="slide8()" />
                            </div>
                        </div>
                        <div class="d-flex my-4">
                            <i class="bi bi-sliders"></i>
                            <div class="h6 mb-0 pt-1 mx-2">Filtro Reviews</div>
                        </div>
                        <div class="wrapper-slider">
                            <div class="values-slider">
                                <span id="range9"> 0 </span>
                                <span> &dash; </span>
                                <span id="range10"> 5 </span>
                                <span class="mx-1"><i class="bi bi-chat-left-quote-fill starIcon"></i
                  ></span>
                            </div>
                            <div class="container-slider">
                                <div class="slider-track"></div>
                                <input type="range" min="0" max="{{dataMaxMin.max_reviews}}" value="{{dataMaxMin.min_reviews}}" id="slider-9" oninput="slide9()" />
                                <input type="range" min="0" max="{{dataMaxMin.max_reviews}}" value="{{dataMaxMin.max_reviews}}" id="slider-10" oninput="slide10()" />
                            </div>
                        </div>

                        <div class="d-flex my-4">
                            <i class="bi bi-sliders"></i>
                            <div class="h6 mb-0 pt-1 mx-2">Filtro Followers</div>
                        </div>
                        <div class="wrapper-slider">
                            <div class="values-slider">
                                <span id="range11"> 0 </span>
                                <span> &dash; </span>
                                <span id="range12"> 5 </span>
                                <span class="mx-1"><i class="bi bi-people-fill starIcon"></i
                  ></span>
                            </div>
                            <div class="container-slider">
                                <div class="slider-track"></div>
                                <input type="range" min="0" max="{{dataMaxMin.max_followers}}" value="{{dataMaxMin.min_followers}}" id="slider-11" oninput="slide11()" />
                                <input type="range" min="0" max="{{dataMaxMin.max_followers}}" value="{{dataMaxMin.max_followers}}" id="slider-12" oninput="slide12()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </section>

            <section class="footer">
                <div class="row container">
                    <div class="col-sm-4 text-light text-center">
                        <h4 class="my-4">
                            Emprende<span class="text-tertiary">Advisor</span>
                        </h4>
                        <h5 class="mb-4">Libro de reclamaciones</h5>
                        <img class="img-fluid" style="filter: invert(1)" src="{{ url_for('static', filename='images/facebook.svg') }}" />
                        <img class="img-fluid" style="filter: invert(1)" src="{{ url_for('static', filename='images/instagram.svg') }}" />
                        <img class="img-fluid" style="filter: invert(1)" src="{{ url_for('static', filename='images/tiktok.svg') }}" />
                    </div>
                    <div class="col-sm-4 text-light text-center">
                        <h5 class="text-tertiary my-4">Conocenos</h5>
                        <h5>Acerca de nosotros</h5>
                        <h5>Preguntas frecuentes</h5>
                        <h5>
                            <a class="text-reset text-decoration-none" href="/politica">Pólitica de privacidad</a
            >
          </h5>
        </div>
        <div class="col-sm-4 text-light text-center">
          <h5 class="text-tertiary my-4">Categorías</h5>
          <h5>Postres</h5>
          <h5>Joyería</h5>
          <h5>Ropa mujer</h5>
          <h5>Más categorías</h5>
        </div>
      </div>
    </section>

    <!-- Modal -->
    <div
      class="modal fade"
      id="register"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form
            action="/register/user"
            method="post"
            id="registerForm"
            novalidate
          >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registrar</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div
                class="errorRegister bg-warning text-light rounded-3 mb-3 px-3"
              ></div>
              <label for="first_name" class="form-label">Nombre:</label>
              <input
                type="text"
                name="first_name"
                class="form-control"
                id="first_name"
              />
              <label for="last_name" class="form-label">Apellidos:</label>
              <input
                type="text"
                name="last_name"
                class="form-control"
                id="last_name"
              />
              <label for="email" class="form-label">Correo:</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
              />
              <label for="password" class="form-label">Contraseña:</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
              />
              <label for="repeat_password" class="form-label"
                >Repita contraseña:</label
              >
              <input
                type="password"
                name="repeat_password"
                class="form-control"
                id="repeat_password"
              />
            </div>
            <div class="modal-footer d-flex flex-column">
              <div class="form-check align-self-baseline mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="terminosCheckBx"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Acepto los
                  <span class="text-altdark terminos"
                    >Terminos y Condiciones</span
                  >
                </label>
              </div>
              <button type="submit" class="btn btn-altdark text-light">
                Registrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="login"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="/login" method="post" novalidate id="loginForm">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div
                class="errorLogin bg-warning text-light rounded-3 text-center"
              ></div>
              <label for="email" class="form-label">Correo</label>
              <input type="email" name="email" class="form-control" />
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" name="password" class="form-control" />
            </div>
            <div class="modal-footer d-flex flex-column justify-content-center">
              <button type="submit" class="btn btn-altdark text-light">
                Ingresar
              </button>
              <p class="mt-3">
                ¿No tiene una cuenta?
                <a href="#" data-bs-toggle="modal" data-bs-target="#register"
                  >Registrese</a
                >
              </p>
              <p class="mt-2">
                <a href="#" data-bs-toggle="modal" data-bs-target="#forgot"
                  >¿Olvido su contraseña?</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="forgot"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form
            action="/forgotpassword"
            method="post"
            novalidate
            id="forgotForm"
          >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                ¿Olvido la contraseña?
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div
                class="errorForgot bg-warning text-light rounded-3 text-center"
              ></div>
              <div
                class="successForgot bg-success text-light rounded-3 text-center"
              ></div>
              <label for="email" class="form-label">Correo</label>
              <input type="email" name="email" class="form-control" />

              <button type="submit" class="btn btn-altdark text-light mt-3">
                Enviar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/dashboard.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/script.js') }}"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>