<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" /> {% assets "scss_all" %}
    <link rel=stylesheet type=text/css href="{{
    ASSET_URL }}"> {% endassets %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body class="bg-light">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <h3 class="text-dark mb-0">
                <a class="text-reset text-decoration-none" href="/">Emprende<span class="text-tertiary">Land</span></a
          >
        </h3>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar-content"
        >
          <div class="hamburger-toggle">
            <div class="hamburger">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li
              class="nav-item dropdown dropdown-mega position-static text-center"
            >
              <a
                class="w-75 btn btn-sm mx-4 btn-altprimary text-light dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                >Categorías</a
              >
              <div class="dropdown-menu shadow">
                <div class="mega-content px-4">
                  <div class="container-fluid">
                    <div class="d-flex flex-wrap p-3">
                      <ul class="categoryBx">
                        <li>
                          <a
                            class="text-decoration-none text-altprimary h5"
                            href=""
                            >Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Cargadores</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Baterias</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Inalambricos</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Cargadores</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Baterias</a>
                </li>
                <li>
                    <a class="text-reset" href="#">Inalambricos</a>
                </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
                <ul class="categoryBx">
                    <li>
                        <a class="text-decoration-none text-altprimary h5" href="">Celulares</a
                          >
                        </li>
                        <ul class="mt-3">
                          <li>
                            <a class="text-reset" href="#">Carcasas</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Cargadores</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Baterias</a>
                    </li>
                    <li>
                        <a class="text-reset" href="#">Inalambricos</a>
                    </li>
                </ul>
                </ul>
        </div>
        </div>
        </div>
        </div>
        </li>
        </ul>
        <form class="d-flex ms-auto mt-3 mt-lg-0">
            <div class="input-group">
                <input class="form-control border-0 mr-2" type="search" placeholder="Buscar" aria-label="Search" />
                <button class="btn btn-sm btn-primary border-0 text-light" type="submit">
                Buscar
              </button>
            </div>
        </form>
        <ul class="navbar-nav my-2 my-lg-0 ms-auto">
            {% if userSession != "" %}
            <li class="nav-item mx-3 align-items-center d-flex flex-column flex-lg-row align-items-center">
                <div class="dropdown d-flex flex-column align-items-center my-2 my-lg-0">
                    <a class="btn btn-sm btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mi cuenta
            </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/cuenta">Configurar</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Cerrar Sesión</a
              >
            </div>
          </div>
            </li>
            {% else %}
            <li
              class="nav-item mx-3 align-items-center d-flex flex-column flex-lg-row align-items-center"
            >
              <a
                class="btn btn-sm btn-altdark text-light"
                data-bs-toggle="modal"
                data-bs-target="#login"
                >Ingrese</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <section class="container-fluid catologoBx">
      <div class="container">
        <div class="row my-3">
          <div class="col-12">
            <span>Celulares</span><span class="mx-3">></span
            ><span>Cargadores</span>
          </div>
        </div>
        <div class="row my3 border-bottom border-1 border-dark">
          <div class="col-lg-6 p-5">
            <img
              class="img-fluid"
              src="{{ url_for('static', filename='images/product.jpg') }}"
              alt=""
            />
          </div>
          <div class="col-lg-6 p-3">
            <h3>Rumbero</h3>

            {% if emprendimiento.categoria != "None" %}
            <div
              class="mt-3 d-flex justify-content-between align-items-center text-yellowstar"
            >
              <span class="h6 d-flex flex-column flex-lg-row">
                <span
                  ><i class="bi bi-star-fill mx-1 starIcon"></i
                  ><i class="bi bi-star-fill mx-1 starIcon"></i
                  ><i class="bi bi-star-fill mx-1 starIcon"></i
                  ><i class="bi bi-star-fill mx-1 starIcon"></i
                  ><i class="bi bi-star-fill mx-1 starIcon"></i
                ></span>
                <span class="my-2 my-lg-0 mx-lg-2 text-dark"
                  >(45 calificaciones)</span
                >
              </span>
              <span class="h5"
                ><i class="bi bi-heart starIcon text-dark"></i
              ></span>
            </div>
            {% endif %}

            <div class="my-2">
              ¡Para todos los rumberos que lleven la salsa en la piel! Ropa
              salsera del Perú Hecho en algodón peruano Envíos gratis a todo el
              Perú
            </div>
            <div class="my-3">
              <i class="bi bi-instagram starIcon h4 mx-2"></i>
              <a href="https://www.instagram.com/rumbero.ropasalsera/"
                >rumbero.ropasalsera</a
              >
            </div>
            <div class="my-3">
              <i class="bi bi-people-fill starIcon h4 mx-2"></i>
              <span>1,342 seguidores</span>
            </div>
            <div class="my-3">
              <i class="bi bi-whatsapp starIcon h4 mx-2"></i>
              <span>922 774 566</span>
            </div>

            {% if emprendimiento.categoria == "None" %}
            <div class="my-4 bg-primary p-3 text-light">
              <p>
                Este emprendimiento aún no ha sido categorizado. Ayúdanos a
                clasificarlo y que forme parte de la comunidad de EmprendeLand
              </p>
              <a
                class="btn btn-altprimary"
                href="#"
                data-bs-toggle="modal"
                data-bs-target="#clasificar"
                >Clasificar</a
              >
            </div>
            {% endif %}
          </div>
        </div>

        {% if emprendimiento.categoria != "None" %}
        <div class="row py-3">
          <div class="col-lg-3 py-2">
            <h4>Opiniones de usuarios</h4>
            <span class="h6 text-yellowstar my-2">
              <i class="bi bi-star-fill mx-1 starIcon"></i
              ><i class="bi bi-star-fill mx-1 starIcon"></i
              ><i class="bi bi-star-fill mx-1 starIcon"></i
              ><i class="bi bi-star-fill mx-1 starIcon"></i
              ><i class="bi bi-star-fill mx-1 starIcon"></i>
              <span class="mx-2 text-dark">4.3 de 5</span>
            </span>
            <p class="my-2">45 calificaciones</p>
            <div class="d-flex flex-column">
              <div class="d-flex align-items-center my-2">
                <a class="" style="min-width: 90px">5 estrellas</a>
                        <div class="progress flex-grow-1 mx-2">
                            <div class="progress-bar" role="progressbar" style="width: 67%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <a class="" style="cursor: pointer">67%</a>
                    </div>
                    <div class="d-flex align-items-center my-2">
                        <a class="" style="min-width: 90px">4 estrellas</a>
                        <div class="progress flex-grow-1 mx-2">
                            <div class="progress-bar" role="progressbar" style="width: 14%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <a class="" style="cursor: pointer">14%</a>
                    </div>
                    <div class="d-flex align-items-center my-2">
                        <a class="" style="min-width: 90px">3 estrellas</a>
                        <div class="progress flex-grow-1 mx-2">
                            <div class="progress-bar" role="progressbar" style="width: 5%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <a class="" style="cursor: pointer">5%</a>
                    </div>
                    <div class="d-flex align-items-center my-2">
                        <a class="" style="min-width: 90px">2 estrellas</a>
                        <div class="progress flex-grow-1 mx-2">
                            <div class="progress-bar" role="progressbar" style="width: 6%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <a class="" style="cursor: pointer">6%</a>
                    </div>
                    <div class="d-flex align-items-center my-2">
                        <a class="" style="min-width: 90px">1 estrellas</a>
                        <div class="progress flex-grow-1 mx-2">
                            <div class="progress-bar" role="progressbar" style="width: 7%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <a class="" style="cursor: pointer">7%</a>
                    </div>
                </div>
                {% if userSession != "" %}
                <a class="btn btn-altprimary text-light w-100 my-3" href="#" data-bs-toggle="modal" data-bs-target="#review">Escribir mi opinión</a
            >
            {% else %}
            <a
              class="btn btn-altprimary text-light w-100 my-3"
              href="#"
              data-bs-toggle="modal"
              data-bs-target="#login"
              >Escribir mi opinión</a
            >

            {% endif %}
          </div>
          <div class="col-lg-9 py-2 px-lg-5 d-flex flex-column">
            <h4 class="mb-3">Recientes</h4>

            <div class="d-flex flex-column commentBx my-3">
              <div class="d-flex align-items-center">
                <img
                  src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/c44ec168-5609-493c-a159-ad4ab2cdc182._CR83,0,333,333_SX48_.jpg"
                  class=""
                  data-src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/c44ec168-5609-493c-a159-ad4ab2cdc182._CR83,0,333,333_SX48_.jpg"
                />
                <span class="mx-2">Carlos San Juan</span>
              </div>
              <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                <div class="d-flex text-yellowstar my-2">
                  <i class="bi bi-star-fill mx-1 starIcon"></i
                  ><i class="bi bi-star mx-1 starIcon"></i
                  ><i class="bi bi-star mx-1 starIcon"></i
                  ><i class="bi bi-star mx-1 starIcon"></i
                  ><i class="bi bi-star mx-1 starIcon"></i>
                </div>
                <div class="mx-lg-2 my-2 my-lg-0 commentBxTitle">
                  Disappointment for google design team-- going back to my Pixel
                  4 A
                </div>
              </div>
              <div class="commentBxDate">
                Calificado en Lince el 2 de noviembre de 2021
              </div>
              <p class="commentBxMsg my-2">
                This phone was a major disappointment and my pixel 4a brought me
                better value and quality. First, the phone is heavy and feels
                awkward in the hand. The battery barely last the day and the
                quality of the screen is barely better than my last pixel. I am
                either going back to my pixel 4A-- which is lighter, more
                affordable and has a great battery for the money. In short, as a
                pixel fan...who waited months for this phone and read every
                article about it with excitement i am disappointed and expect to
                return this heavy and unbalanced phone. ( top heavy with the
                cameras)... Google needs to rethink design and go back to the
                success of the 4 A-- value for the money with great design. Even
                the Iphone 12 makes better sense in terms of price and
                quality..... avoid this phone..
              </p>
              <p class="commentBxMsg my-2">A 182 personas les resultó útil</p>
              <div class="d-flex align-items-center">
                <a class="btn btn-tertiary text-dark px-4" href="#"
                  >Útil <i class="bi bi-hand-thumbs-up starIcon"></i
                ></a>
                <a class="mx-3 border-start border-1 border-dark px-3" data-bs-toggle="modal" data-bs-target="#report">Informar de un abuso</a
                >
              </div>
            </div>

            <div class="d-flex flex-column commentBx my-3">
              <div class="d-flex align-items-center">
                <img
                  src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png"
                  class=""
                  data-src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png"
                />
                <span class="mx-2">Mateo Fernandez</span>
              </div>
              <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                <div class="d-flex text-yellowstar my-2">
                  <i class="bi bi-star-fill mx-1 starIcon"></i
                  ><i class="bi bi-star-fill mx-1 starIcon"></i
                  ><i class="bi bi-star mx-1 starIcon"></i
                  ><i class="bi bi-star mx-1 starIcon"></i
                  ><i class="bi bi-star mx-1 starIcon"></i>
                </div>
                <div class="mx-lg-2 my-2 my-lg-0 commentBxTitle">
                  Why is this considered an amazing value?
                </div>
              </div>
              <div class="commentBxDate">
                Calificado en San Miguel el 10 de noviembre de 2021
              </div>
              <p class="commentBxMsg my-2">
                It's an open secret that the North American market doesn't have
                access to very many smartphones, thanks to our usage of
                non-standard cellular bands. Asian markets generally have much
                more choice from the likes of Xiaomi, Oppo, OnePlus, Redmi, and
                so on, but those phones won't work well (or at all) here in the
                states. I preface the review with that fact because, comparing
                actual hardware value for money, the Pixel 6, at $600, doesn't
                stack up well to the litany of high-spec Chinese phones that are
                available today. I came from, and went back to, a OnePlus 8T 5G
                which I bought for $399 on sale and which gives me twice the
                storage, 4GB more RAM, a brighter, higher refresh rate display,
                more accurate optical fingerprint sensor, and admittedly worse
                (but not markedly so) camera.
              </p>
              <img
                src="https://m.media-amazon.com/images/I/81OvSVBFUqL._SL1600_.jpg"
                alt=""
                class="imageReview"
                onclick="img_box(this)"
              />
              <div id="fullpage" onclick="this.style.display='none';"></div>
              <p class="commentBxMsg my-2">A 153 personas les resultó útil</p>
              <div class="d-flex align-items-center w-100">
                <a class="btn btn-tertiary text-dark px-4" href="#"
                  >Útil <i class="bi bi-hand-thumbs-up starIcon"></i
                ></a>
                <a class="mx-3 border-start border-1 border-dark px-3" data-bs-toggle="modal" data-bs-target="#report">Informar de un abuso</a
                >
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </section>

    <section class="footer">
      <div class="row container">
        <div class="col-sm-4 text-light text-center">
          <h4 class="my-4">Emprende<span class="text-tertiary">Land</span></h4>
          <h5 class="mb-4">Libro de reclamaciones</h5>
          <img
            class="img-fluid"
            style="filter: invert(1)"
            src="{{ url_for('static', filename='images/facebook.svg') }}"
          />
          <img
            class="img-fluid"
            style="filter: invert(1)"
            src="{{ url_for('static', filename='images/instagram.svg') }}"
          />
          <img
            class="img-fluid"
            style="filter: invert(1)"
            src="{{ url_for('static', filename='images/tiktok.svg') }}"
          />
        </div>
        <div class="col-sm-4 text-light text-center">
          <h5 class="text-tertiary my-4">Conocenos</h5>
          <h5>Acerca de nosotros</h5>
          <h5>Preguntas frecuentes</h5>
          <h5>Pólitica de privacidad</h5>
        </div>
        <div class="col-sm-4 text-light text-center">
          <h5 class="text-tertiary my-4">Categorías</h5>
          <h5>Postres</h5>
          <h5>Joyería</h5>
          <h5>Ropa mujer</h5>
          <h5>Más categorías</h5>
        </div>
      </div>
    </section>

    <!-- Modal -->
    <div
      class="modal fade"
      id="register"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form
            action="/register/user"
            method="post"
            id="registerForm"
            novalidate
          >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registrar</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div
                class="errorRegister bg-warning text-light rounded-3 mb-3 px-3"
              ></div>
              <label for="first_name" class="form-label">Nombre:</label>
              <input
                type="text"
                name="first_name"
                class="form-control"
                id="first_name"
              />
              <label for="last_name" class="form-label">Apellidos:</label>
              <input
                type="text"
                name="last_name"
                class="form-control"
                id="last_name"
              />
              <label for="email" class="form-label">Correo:</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
              />
              <label for="password" class="form-label">Contraseña:</label>
              <input
                type="password"
                name="password"
                class="form-control"
                id="password"
              />
              <label for="repeat_password" class="form-label"
                >Repita contraseña:</label
              >
              <input
                type="password"
                name="repeat_password"
                class="form-control"
                id="repeat_password"
              />
            </div>
            <div class="modal-footer d-flex flex-column">
              <div class="form-check align-self-baseline mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="terminosCheckBx"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  Acepto los
                  <span class="text-altdark terminos"
                    >Terminos y Condiciones</span
                  >
                </label>
              </div>
              <button type="submit" class="btn btn-altdark text-light">
                Registrar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="login"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="/login" method="post" novalidate id="loginForm">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div
                class="errorLogin bg-warning text-light rounded-3 text-center"
              ></div>
              <label for="email" class="form-label">Correo</label>
              <input type="email" name="email" class="form-control" />
              <label for="password" class="form-label">Contraseña:</label>
              <input type="password" name="password" class="form-control" />
            </div>
            <div class="modal-footer d-flex flex-column justify-content-center">
              <button type="submit" class="btn btn-altdark text-light">
                Ingresar
              </button>
              <p class="mt-3">
                ¿No tiene una cuenta?
                <a href="#" data-bs-toggle="modal" data-bs-target="#register"
                  >Registrese</a
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="review"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="/review" method="post" novalidate id="reviewForm">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Calificar</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div
                class="errorLogin bg-warning text-light rounded-3 text-center"
              ></div>
              <label for="stars" class="form-label">Valoracion</label>
              <div class="container position-relative">
                <div class="star-widget">
                  <input type="radio" name="rate" id="rate-5" />
                  <label
                    for="rate-5"
                    class="fas fa-star"
                    style="font-family: 'Font Awesome 5 Free' !important"
                  ></label>
                  <input type="radio" name="rate" id="rate-4" />
                  <label
                    for="rate-4"
                    class="fas fa-star"
                    style="font-family: 'Font Awesome 5 Free' !important"
                  ></label>
                  <input type="radio" name="rate" id="rate-3" />
                  <label
                    for="rate-3"
                    class="fas fa-star"
                    style="font-family: 'Font Awesome 5 Free' !important"
                  ></label>
                  <input type="radio" name="rate" id="rate-2" />
                  <label
                    for="rate-2"
                    class="fas fa-star"
                    style="font-family: 'Font Awesome 5 Free' !important"
                  ></label>
                  <input type="radio" name="rate" id="rate-1" />
                  <label
                    for="rate-1"
                    class="fas fa-star"
                    style="font-family: 'Font Awesome 5 Free' !important"
                  ></label>
                </div>
              </div>

              <label for="titulo" class="form-label my-2">Titulo</label>
              <input
                type="text"
                name="titulo"
                class="form-control"
                id="titulo"
              />

              <label for="departamento" class="form-label my-2"
                >Departamento</label
              >
              <select
                class="form-select"
                id="departamento"
                name="selectDepartamento"
                onchange="cambiaDepartamento()"
              >
                <option value="">Seleccione</option>
                <option value="Amazonas">Amazonas</option>
                <option value="Ancash">Ancash</option>
                <option value="Apurímac">Apurímac</option>
                <option value="Arequipa">Arequipa</option>
                <option value="Ayacucho">Ayacucho</option>
                <option value="Cajamarca">Cajamarca</option>
                <option value="Callao">Callao</option>
                <option value="Cuzco">Cuzco</option>
                <option value="Huancavelica">Huancavelica</option>
                <option value="Huánuco">Huánuco</option>
                <option value="Ica">Ica</option>
                <option value="Junín">Junín</option>
                <option value="La_Libertad">La Libertad</option>
                <option value="Lambayeque">Lambayeque</option>
                <option value="Lima">Lima</option>
                <option value="Loreto">Loreto</option>
                <option value="Madre_de_Dios">Madre de Dios</option>
                <option value="Moquegua">Moquegua</option>
                <option value="Pasco">Pasco</option>
                <option value="Piura">Piura</option>
                <option value="Puno">Puno</option>
                <option value="San_Martín">San Martín</option>
                <option value="Tacna">Tacna</option>
                <option value="Tumbes">Tumbes</option>
                <option value="Ucayali">Ucayali</option>
              </select>

              <label for="provincia" class="form-label my-2">Provincia</label>
              <select
                class="form-select"
                name="selectProvincia"
                onchange="cambiaDistrito()"
                required=""
                id="provincia"
              >
                <option>Seleccione la Provincia</option>
              </select>

              <label for="distrito" class="form-label my-2">Distrito</label>
              <select
                class="form-select"
                name="selectDistrito"
                required=""
                id="distrito"
              >
                <option>Seleccione el Distrito</option>
              </select>

              <label for="comentario" class="form-label my-2"
                >Comentario:</label
              >
              <textarea
                class="form-control"
                name="comentario"
                id="comentario"
                cols="30"
                rows="10"
              ></textarea>
              <label for="fileUpload" class="form-label my-2"
                >Subir foto:</label
              >
              <div class="input-group">
                <input
                  type="file"
                  class="form-control"
                  id="fileUpload"
                  multiple
                />
              </div>
            </div>
            <div class="modal-footer d-flex flex-column justify-content-center">
              <button type="submit" class="btn btn-altdark text-light">
                Publicar Comentario
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="report"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form action="/report" method="post" novalidate id="reportForm">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                Informar de un abuso
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div
                class="errorLogin bg-warning text-light rounded-3 text-center"
              ></div>
              <p class="mb-1">
                Si este contenido te parece inadecuado y piensas que debería
                eliminarse del sitio EmprendeLand, comunícanoslo al hacer clic
                en el siguiente botón.
              </p>

              <label for="motivo" class="form-label my-0">Motivo:</label>
              <textarea
                class="form-control"
                name="motivo"
                id="motivo"
                cols="30"
                rows="4"
              ></textarea>
            </div>
            <div class="modal-footer d-flex flex-column justify-content-center">
              <button type="submit" class="btn btn-altdark text-light">
                Reportar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="clasificar"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form
            action="/clasificar"
            method="post"
            novalidate
            id="clasificarForm"
          >
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Clasificar</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div
                class="errorLogin bg-warning text-light rounded-3 text-center"
              ></div>

              <p class="mb-1">
                Elige la categoría y subcategoría correspondiente, en caso de no
                encontrar una existente, marca la casilla para crear una nueva
              </p>

              <label for="categoria" class="form-label my-2">Categoria:</label>
              <select class="form-select" name="categoria" id="categoria">
                <option value="0" selected>-- Seleccione categoría --</option>
                <option value="1">Categoría 1</option>
                <option value="2">Categoría 2</option>
                <option value="3">Categoría 3</option>
              </select>

              <label for="subcategoria" class="form-label my-2"
                >Subcategoría:</label
              >
              <select class="form-select" name="subcategoria" id="subcategoria">
                <option value="0" selected>
                  -- Seleccione subcategoría --
                </option>
                <option value="1">Subcategoría 1</option>
                <option value="2">Subcategoría 2</option>
                <option value="3">Subcategoría 3</option>
              </select>

              <div class="my-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="categoriaCheckBx"
                  onchange="checkNewCategory(this)"
                />
                <label class="form-check-label" for="flexCheckDefault">
                  ¿No encuentras la categoría?
                </label>

                <div class="newInput">
                  <label for="nuevaCategoria" class="form-label my-2"
                    >Nueva categoría</label
                  >
                  <input
                    type="text"
                    name="nuevaCategoria"
                    class="form-control"
                    id="nuevaCategoria"
                  />

                  <div class="my-2">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="subcategoriaCheckBx"
                      onchange="checkNewSubcategory(this)"
                    />
                    <label class="form-check-label" for="flexCheckDefault">
                      ¿Tiene subcategoría?
                    </label>
                    <p class="mb-0">
                      De no añadir, se creará en la subcategoría "General"
                    </p>
                  </div>
                  <div class="newInput">
                    <label for="nuevaSubcategoria" class="form-label mb-2"
                      >Nueva subcategoría</label
                    >
                    <input
                      type="text"
                      name="nuevaSubcategoria"
                      class="form-control"
                      id="nuevaSubcategoria"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex flex-column justify-content-center">
              <button type="submit" class="btn btn-altdark text-light">
                Clasificar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/img_box.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/ubicacion.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/emprendimiento.js') }}"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>