<div class="d-flex flex-column commentBx my-3">
    <div class="d-flex align-items-center">
        <img src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/c44ec168-5609-493c-a159-ad4ab2cdc182._CR83,0,333,333_SX48_.jpg" class="" data-src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/c44ec168-5609-493c-a159-ad4ab2cdc182._CR83,0,333,333_SX48_.jpg"
        />
        <span class="mx-2">Carlos San Juan</span>
    </div>
    <div class="d-flex flex-column flex-lg-row align-items-lg-center">
        <div class="d-flex text-yellowstar my-2">
            <i class="bi bi-star-fill mx-1 starIcon"></i
      ><i class="bi bi-star mx-1 starIcon"></i
      ><i class="bi bi-star mx-1 starIcon"></i
      ><i class="bi bi-star mx-1 starIcon"></i
      ><i class="bi bi-star mx-1 starIcon"></i>
        </div>
        <div class="mx-lg-2 my-2 my-lg-0 commentBxTitle">
            Disappointment for google design team-- going back to my Pixel 4 A
        </div>
    </div>
    <div class="commentBxDate">Calificado en Lince el 2 de noviembre de 2021</div>
    <p class="commentBxMsg my-2">
        This phone was a major disappointment and my pixel 4a brought me better value and quality. First, the phone is heavy and feels awkward in the hand. The battery barely last the day and the quality of the screen is barely better than my last pixel. I am
        either going back to my pixel 4A-- which is lighter, more affordable and has a great battery for the money. In short, as a pixel fan...who waited months for this phone and read every article about it with excitement i am disappointed and expect
        to return this heavy and unbalanced phone. ( top heavy with the cameras)... Google needs to rethink design and go back to the success of the 4 A-- value for the money with great design. Even the Iphone 12 makes better sense in terms of price and
        quality..... avoid this phone..
    </p>
    <p class="commentBxMsg my-2">A 182 personas les resultó útil</p>
    <div class="d-flex align-items-center">
        <a class="btn btn-tertiary text-dark px-4" href="#">Útil <i class="bi bi-hand-thumbs-up starIcon"></i
    ></a>
        <a class="mx-3 border-start border-1 border-dark px-3" data-bs-toggle="modal" data-bs-target="#report">Informar de un abuso</a
    >
  </div>
</div>

<div class="d-flex flex-column commentBx my-3">
  <div class="d-flex align-items-center">
    <img
      src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png"
      class=""
      data-src="https://images-na.ssl-images-amazon.com/images/S/amazon-avatars-global/default._CR0,0,1024,1024_SX48_.png"
    />
    <span class="mx-2">Mateo Fernandez</span>
  </div>
  <div class="d-flex flex-column flex-lg-row align-items-lg-center">
    <div class="d-flex text-yellowstar my-2">
      <i class="bi bi-star-fill mx-1 starIcon"></i
      ><i class="bi bi-star-fill mx-1 starIcon"></i
      ><i class="bi bi-star mx-1 starIcon"></i
      ><i class="bi bi-star mx-1 starIcon"></i
      ><i class="bi bi-star mx-1 starIcon"></i>
    </div>
    <div class="mx-lg-2 my-2 my-lg-0 commentBxTitle">
      Why is this considered an amazing value?
    </div>
  </div>
  <div class="commentBxDate">
    Calificado en San Miguel el 10 de noviembre de 2021
  </div>
  <p class="commentBxMsg my-2">
    It's an open secret that the North American market doesn't have access to
    very many smartphones, thanks to our usage of non-standard cellular bands.
    Asian markets generally have much more choice from the likes of Xiaomi,
    Oppo, OnePlus, Redmi, and so on, but those phones won't work well (or at
    all) here in the states. I preface the review with that fact because,
    comparing actual hardware value for money, the Pixel 6, at $600, doesn't
    stack up well to the litany of high-spec Chinese phones that are available
    today. I came from, and went back to, a OnePlus 8T 5G which I bought for
    $399 on sale and which gives me twice the storage, 4GB more RAM, a brighter,
    higher refresh rate display, more accurate optical fingerprint sensor, and
    admittedly worse (but not markedly so) camera.
  </p>
  <img
    src="https://m.media-amazon.com/images/I/81OvSVBFUqL._SL1600_.jpg"
    alt=""
    class="imageReview"
    onclick="img_box(this)"
  />
  <div id="fullpage" onclick="this.style.display='none';"></div>
  <p class="commentBxMsg my-2">A 153 personas les resultó útil</p>
  <div class="d-flex align-items-center w-100">
    <a class="btn btn-tertiary text-dark px-4" href="#"
      >Útil <i class="bi bi-hand-thumbs-up starIcon"></i
    ></a>
        <a class="mx-3 border-start border-1 border-dark px-3" data-bs-toggle="modal" data-bs-target="#report">Informar de un abuso</a
    >
  </div>
</div>