@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.home-section {
    background-image: url("/static/images/bg.svg");
    height: 500px;
    background-size: cover;
    background-position: center;
}

.navbar {
    transition: 0.5s;
}

.navbar.sticky {
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

* {
    font-family: "Poppins", sans-serif !important;
}

.home-section::before {
    display: block;
    content: "";
    height: 100px;
}

.homeBx {
    height: 330px;
}

.categoryBxHome {
    cursor: pointer;
}

.footer {
    margin-top: 100px;
    display: flex;
    box-sizing: border-box;
    height: 500px;
    background-color: #1d3557;
    clip-path: ellipse(231% 100% at 118.78% 100%);
    padding: 130px 10px;
    width: 100%;
    justify-content: center;
}

.footer h5:hover,
.terminos:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dropdown-menu {
    z-index: 1001;
}

.mega-dropdown {
    position: static !important;
    width: 100%;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}

.mega-dropdown-menu:after {
    content: "";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}

.mega-dropdown-menu>li>ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu>li>ul>li {
    list-style: none;
}

.mega-dropdown-menu>li>ul>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu>li ul>li>a:hover,
.mega-dropdown-menu>li ul>li>a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

@media (max-width: 575px) {
    .home-section {
        height: 420px;
    }
    .section3 {
        margin: 150px 0;
    }
    .footer {
        height: 700px;
    }
}

@media (max-width: 280px) {
    .home-section {
        height: 500px;
    }
}

.image-section {
    height: 50%;
}


/* --------------------- MEGAMENU ----------------- */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dropdown-menu.show {
    -webkit-animation: fadeIn 0.3s alternate;
    /* Safari 4.0 - 8.0 */
    animation: fadeIn 0.3s alternate;
}

.nav-item.dropdown.dropdown-mega {
    position: static;
}


/* Tamaño del MegaMenu */

.nav-item.dropdown.dropdown-mega .dropdown-menu {
    width: 90%;
    top: auto;
    left: 5%;
}

.categoryBx {
    width: 16.6667%;
    margin: 20px 0;
    padding: 0;
}

.categoryBx ul,
.categoryBx li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.categoryBx ul li a {
    text-decoration: none;
}

.categoryBx ul li a:hover {
    text-decoration: underline;
}

.filterBx {
    height: 500px;
    overflow: auto;
    position: relative;
}

@media (max-width: 991px) {
    .filterBx {
        height: 100%;
    }
}

.applyFilters {
    position: sticky;
    top: -25px;
    z-index: 1000;
}

.wrapper-slider {
    position: relative;
    width: 100%;
    padding: 0;
    border-radius: 10px;
}

.container-slider {
    position: relative;
    width: 100%;
    height: 60px;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track {
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.2em;
    width: 1.2em;
    background-color: #5c636a;
    cursor: pointer;
    margin-top: -6px;
    pointer-events: auto;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #192d4a;
    pointer-events: auto;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #192d4a;
    pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid #5c636a;
}

.values-slider {
    background-color: #5c636a;
    width: 70%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
}

.values-slider:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid #5c636a;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}

.starIcon {
    position: relative;
    bottom: 3px;
}

@media (max-width: 991px) {
    .nav-item.dropdown.dropdown-mega .dropdown-menu {
        width: 100%;
    }
    .categoryBx {
        margin: 20px 0;
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .categoryBx {
        width: 30%;
    }
}

@media (max-width: 575px) {
    .categoryBx {
        width: 50%;
    }
}

@media (max-width: 281px) {
    .categoryBx {
        width: 100%;
    }
}


/* Tamaño del MegaMenu */


/* Boton toggle */

.navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler .hamburger-toggle {
    position: relative;
    width: 50px;
    height: 50px;
    z-index: 11;
}

.navbar-toggler .hamburger-toggle .hamburger {
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg);
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    pointer-events: none;
}

.navbar-toggler .hamburger-toggle .hamburger span {
    width: 100%;
    height: 4px;
    position: absolute;
    background: #333;
    border-radius: 2px;
    z-index: 1;
    transition: transform 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), all 0.2s ease-in-out;
    left: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger span:first-child {
    top: 10%;
    transform-origin: 50% 50%;
    transform: translate(0% -50%) !important;
}

.navbar-toggler .hamburger-toggle .hamburger span:nth-child(2) {
    top: 50%;
    transform: translate(0, -50%);
}

.navbar-toggler .hamburger-toggle .hamburger span:last-child {
    left: 0px;
    top: auto;
    bottom: 10%;
    transform-origin: 50% 50%;
}

.navbar-toggler .hamburger-toggle .hamburger.active span {
    position: absolute;
    margin: 0;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:first-child {
    top: 45%;
    transform: rotate(45deg);
}

.navbar-toggler .hamburger-toggle .hamburger.active span:nth-child(2) {
    left: 50%;
    width: 0px;
}

.navbar-toggler .hamburger-toggle .hamburger.active span:last-child {
    top: 45%;
    transform: rotate(-45deg);
}


/* Boton toggle */


/* --------------------- MEGAMENU ----------------- */

.textCardEmpre {
    font-size: 14px;
    line-height: 1.5em;
    height: 3em;
    /* height is 2x line-height, so two lines will display */
    overflow: hidden;
}

.commentBx img {
    border-radius: 50%;
    width: 35px;
}

.commentBx .imageReview {
    border-radius: 0;
    width: 88px;
}

.commentBxTitle {
    font-weight: 500;
}

.commentBxDate {
    font-size: 15px;
}

.commentBxMsg {
    font-size: 14px;
}


/** Star Rating **/

.star-widget {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star-widget input {
    display: none;
}

.star-widget label {
    font-size: 40px;
    color: #444;
    padding: 2px;
    transition: all 0.2s ease;
}

.star-widget input:not(:checked)~label:hover,
.star-widget input:not(:checked)~label:hover~label {
    color: #fd4;
}

.star-widget input:checked~label {
    color: #fd4;
}

#rate-1:checked~form header:before {
    content: "I just hate it ";
}

#rate-2:checked~form header:before {
    content: "I don't like it ";
}

#rate-3:checked~form header:before {
    content: "It is awesome ";
}

#rate-4:checked~form header:before {
    content: "I just like it ";
}

#rate-5:checked~form header:before {
    content: "I just love it ";
}


/** Star Rating **/

.newInput {
    display: none;
}

.newInput.active {
    display: block;
}

.imgProfile {
    width: 100px;
    border-radius: 50%;
}

.menuProfileOpt {
    cursor: pointer;
}

#frame {
    background-color: lightgray;
}

#btnClearImg {
    width: fit-content;
}